img {
    height: 200px;
    width: 200px;
    background-color: darkblue;
    border: 5px solid black;
    margin-right: 20px;
    margin-left: 10px;
    padding: 11px;
}

body { 
    background-color: lightblue;
} 
.newfont {
	font-family: 'Noto Sans JP', sans-serif;
}
p{
 border: 8px solid red;   
}
img{
  padding: 5px;
  
}
.caption {
  padding: 10px;
 margin: 10px;
}

.parent {
	display: flex;
    justify-content: center;
}

.aboutme-parent {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    background-color: green;
    width: 33%;
    align-items: center;
}

.posts-parent {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    background-color: yellow;
    width: 33%;
    align-items: center;
}

.friends-parent {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    background-color: orange;
    width: 33%;
    align-items: center;
}
    